li{
    padding: 8px;
    
    
}
*{
    padding: 0%;
    margin: 0%
    ;
}
a:hover{
    background-color: maroon;
 border-bottom: white solid 2px;
   padding: auto;
   border-radius: 4px;
   color: white;
}
